<div class="atrip-place-page">
	<div class="background-map" style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=ilhabela&zoom=10&size=1280x400&markers=color:red%7Clabel=ilhabela&sensor=true&scale=2&format=png')"></div>
	
	<div class="wrapper">
		<section class="main-content">
			<article class="highlight">
				<img src="/assets/examples/highlight-image.png" alt="Ilhabela" />
			</article>
		</section>
	</div>
</div>