@import "colors.scss";

@import "icons/*.png";
@include all-icons-sprites;

.atrip-header {

	.top-navigation {
		background: $base-color;
		text-transform: uppercase;
		padding: 14px 0;

		.main { float: left; }

		.user-login { float: right; }

		li {
			float: left;
			margin-right: 20px;
		}

		a { 
			color: #fff;
			text-decoration: none;
			font-weight: bold;
			font-size: 11px;
		}
	}

}