/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	font-family: 'Arial';
}

.wrapper {
	margin: 0 auto;
	width: 1020px;
}

.line{
	*zoom:1;

	&:after {
		clear: both;
		display: block;
		visibility: hidden;
		overflow: hidden;
		height: 0 !important;
		line-height: 0;
		font-size: xx-large;
		content: ' x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ';
	}
}