<header class="atrip-header">
	<div class="top-navigation">
		<div class="wrapper">
			<nav class="main">
				<ul>
					<li><a href="#" title="Pousadas">Pousadas</a></li>
					<li><a href="#" title="Hotéis">Hotéis</a></li>
					<li><a href="#" title="Criar Trip">Criar Trip</a></li>
					<li><a href="#" title="Anunciar">Anunciar</a></li>
					<li><a href="#" title="Como funciona?">Como funciona?</a></li>
				</ul>
			</nav>
			
			<nav class="user-login">
				<ul>
					<li><a href="#">Login</a></li>
					<li><a href="#">Cadastrar-se</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>