<header class="atrip-header">
	<div class="top-navigation line">
		<div class="wrapper">
			<nav class="main main-icons icons-home">
				<ul>
					<li><a href="#" title="Pousadas">Pousadas</a></li>
					<li><a href="#" title="Hotéis">Hotéis</a></li>
					<li><a href="#" title="Criar Trip">Criar Trip</a></li>
					<li><a href="#" title="Anunciar">Anunciar</a></li>
					<li><a href="#" title="Como funciona?">Como funciona?</a></li>
				</ul>
			</nav>
			<nav class="user-login main-icons icons-user">
				<ul>
					<li><a href="#">Login</a></li>
					<li><a href="#">Cadastrar-se</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="wrapper inner line">
		<a href="/" class="logo" title="aTrip">
			<img src="/assets/logo-atrip.png" alt="aTrip" />
			<span class="back-home">Voltar para a home</span>
		</a>
		<form action="/" class="search-form">
			<input type="text" name="q" placeholder="ENCONTRE SUA TRIP" autocomplete="off" />
			<button class="search-button">Buscar</button>
		</form>
		<ul class="social main-icons">
			<li><a href="#" target="_blank" class="icons-facebook-inactive">Facebook</a></li>
			<li><a href="#" target="_blank" class="icons-twitter-inactive">Twitter</a></li>
			<li><a href="#" target="_blank" class="icons-rss-inactive">RSS</a></li>
		</ul>
	</div>
</header>